.ant-picker {
	width: 200px;
	margin-bottom: 10px;
}

.ant-list-item-meta-content {
	padding-right: 40px;
}

.ant-typography.ant-typography-ellipsis {
	color: inherit;
	font-size: 12px;
}

.ant-typography mark {
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 10px;
}
